body {
    margin: 0;
    background-color: #fcdaff;
    font-family: 'Beth Ellen', cursive;
}

#oval {
    width: 300px;
    height: 40vh;
    background: #E8BAD8;
    border-radius: 10px;
    position: absolute;
    top: -20vh;
    z-index: 1;
    box-shadow: 0px 5px 10px 0px rgba(128, 128, 128, 0.5);
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-evenly;
}

#stars {
    color: #ffd800;
    cursor: pointer;
    font-size: 3rem;
    display: flex; 
}

#frame {
    max-height: 300px;
    height: 40vh;
    width: 100vw;
    text-align: center;
}

img {
    max-height: 40vh;
}

#next {
    position: absolute;
    width: 100vw;
    visibility: hidden;
}

#bottom {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    max-width: 300px;
    font-size: 1.5rem;
}

.pointer {
    cursor: pointer;
}

h1 {
    z-index: 2;
}

.button {
    height: 60px;
    width: 60px;
    background-color: #E8BAD8;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0px 5px 10px 0px rgba(128, 128, 128, 0.5);
}