body {
    margin: 0
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-evenly;
}

#stars {
    color: #ffd800;
    cursor: pointer;
    font-size: 3rem;
    display: flex; 
}

#frame {
    max-height: 300px;
    height: 40vh;
    width: 100vw;
    text-align: center;
}

img {
    max-height: 40vh;
}

#next {
    position: absolute;
    width: 100vw;
    visibility: hidden;
}

#bottom {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    max-width: 300px;
    font-size: 1.5rem;
}

.pointer {
    cursor: pointer;
}